<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" tools:ignore="ExactAlarmPolicy"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" tools:ignore="FullScreenIntentPolicy"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:name=".AlarmApplication"
            android:allowBackup="false"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:icon="@drawable/ic_launcher_foreground"
            android:label="WTFU">
        <receiver
                android:name=".AlarmReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="com.mfriend.wtfu.action.ALARM_FIRE"/>
                <action android:name="com.mfriend.wtfu.action.RESTORE_ALARMS"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".AlarmBootReceiver"
                android:exported="true"
                android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".AlarmRingingNotificationReceiver"
                android:exported="false"/>

        <service
                android:name=".AlarmRingingService"
                android:exported="false"
                android:stopWithTask="false"
                android:foregroundServiceType="mediaPlayback"/>

        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:launchMode="singleTop"
                android:showWhenLocked="true"
                android:turnScreenOn="true"
                android:showOnLockScreen="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="mrfiend.com"/>
            </intent-filter>
        </activity>
    </application>

</manifest>